@font-face {
    font-family: 'abhaya_librebold';
    src: font_url('abhayalibre-bold-webfont.woff2') format('woff2'),
         font_url('abhayalibre-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abhaya_libreextrabold';
    src: font_url('abhayalibre-extrabold-webfont.woff2') format('woff2'),
         font_url('abhayalibre-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abhaya_libremedium';
    src: font_url('abhayalibre-medium-webfont.woff2') format('woff2'),
         font_url('abhayalibre-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abhaya_libreregular';
    src: font_url('abhayalibre-regular-webfont.woff2') format('woff2'),
         font_url('abhayalibre-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abhaya_libresemibold';
    src: font_url('abhayalibre-semibold-webfont.woff2') format('woff2'),
         font_url('abhayalibre-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

